<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>💥SERIES💥</h1>
  <% if (user) { %>
    <h2>Add New Series</h2>
    <form action="/books" method="POST">
      <label >
        Story: 
        <input type="text" name="title">
      </label>
      <label>
        Writer:
        <input type="text" name="writer">
      </label>
      <label>
        Artist:
        <input type="text" name="artist">
      </label>
      <label >
        Is the story on going:
        <input type="checkbox" name="onGoing">
      </label>
      <button type="submit">Add Series</button>
    </form>
  <% } %>
  <ul>
  <% books.forEach(book => { %>
    <li>
      <a style="color: white"  href="/books/<%= book._id %>"><%= book.title %></a>
 
      <% if (user) { %> 
        <form action="/profiles/<%= user.profile._id %>/books/<%= book._id %>" method="POST">
          <button>💥COLLECT SERIES💥</button>
        </form>
      <% } %> 
    <% }) %>
  </ul>
</section>



<%- include('../partials/footer') %>