<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1 >COLLECTION</h1>
  <% if (user)  {%> 
  <h2>Add a Book</h2>
  <form action="/profiles/<%= profile._id %>/new" method="POST">
    <label>
      Name: 
      <input type="text" name="title" autocomplete="off">
    </label>
    <label>
      Issue/Volume #: 
      <input type="number" name="issue" autocomplete="off">
    </label>
    <button type="submit">Add💥Book</button>
  </form>
<% } %>
<ul>
  <section class="collection">
    <% profile.ownBook.forEach(b => { %>
      <li>
        <p>
        <%= b.title %> 
        </p>
        <% if (user)  {%> 
          <form 
            action="/profiles/books/<%= b._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">💥REMOVE SERIES💥</button>
          </form>
      <% } %>
    </li> 
    <%  }) %> 
  </section>
</ul>
</main>

<%- include('../partials/footer') %>